@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
:root {
  --primary-color: #fff;
  --header-color: #fff;
  --body-color: #fbe9e7;
  --foter-bg: #fff;
  --footer-hover: #e5e5e5;
  --font-color: #3a3d44;
  --button-color: #e6e6e6;
  --symbol-color: #ff7043;
  --symbol-hover-color: #ff8a65;
  --symbol-dark-color: #f4511e;
  --slide-circle: #000;
  --background: #fdfdfd;
  --numberText: #393e46;
  --c-color: #ffd7e9;
  --c-color-text: #e20049;
  --btn-bg: #d7eaea;
  --operator-bg: #fb9405;
  --equal-bg: #2dea8f;
  --body-text-color: #000;
}

[data-theme="dark"] {
  --primary-color: #c5c5c5;
  --header-color: #000;
  --body-color: #3a3d44;
  --foter-bg: #000;
  --background: #000;
  --footer-hover: #fff;
  --font-color: #fff;
  --button-color: #e6e6e6;
  --symbol-color: transparent;
  --symbol-hover-color: #ff5722;
  --symbol-dark-color: #f4511e;
  --slide-circle: #fff;
  --btn-bg: #3a3d44;
  --c-color: #883357;
  --body-text-color: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  font-size: 600;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.wrapper::before {
  content: "";
  clip-path: polygon(0 89%, 100% 48%, 100% 100%, 0% 100%);
  background: #fb9405;
  width: 100vw;
  height: 70vh;
  position: absolute;
  bottom: 0;
  z-index: -100;
}
.calculator {
  display: grid;
  padding: 1rem;
  grid-template-rows: 8% 25% auto;
  width: 300px;
  height: 500px;
  background-color: var(--background);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
}

.calculator-header {
  padding: 0 20px;
  display: flex;
  justify-content: flex-end;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.calculator-body {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 20px;
  background-color: var(--body-color);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: var(--body-text-color);
}

.calculator-footer {
  margin-top: 1rem;
  padding: 10px 0;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  justify-content: space-around;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-color: var(--foter-bg);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.calculator-footer div {
  font-weight: 600;
  font-size: 1rem;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 0.4s all;
}

.calculator-footer div:hover {
  cursor: pointer;
}
.calculator-footer div.symbol {
  border-radius: 50%;
}
.calculator-footer div.symbol:hover {
  cursor: pointer;
}
.calculator-footer div.symbol-dark {
  border-radius: 50%;
}

/*slider switch css */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
}
.theme-switch-wrapper em {
  margin-left: 10px;
  font-size: 1rem;
}

.theme-switch {
  display: inline-block;
  height: 18px;
  position: relative;
  width: 50px;
  padding: 3px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: var(--slide-circle);
  content: "";
  bottom: -5px;
  height: 26px;
  /* left: 0px; */
  right: 25px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.numbers {
  background: var(--btn-bg);
  color: var(--font-color);
}
.operators {
  background: var(--operator-bg);
  color: var(--font-color);
}
.equalto {
  background: var(--equal-bg);
  color: #fff;
}
.pinkColor {
  background: var(--c-color);
  color: var(--c-color-text);
}
